<h2>登 录</h2>

<%= form_for(resource, as: resource_info, url: session_path(resource_info)) do |f| %>
	  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true %></div>

			  <div><%= f.label :password %><br />
					    <%= f.password_field :password, autocomplete: "off" %></div>

						  <% if devise_mapping.rememberable? -%>
								    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
										  <% end -%>

											  <div><%= f.submit "Log in" %></div>
											<% end %>
  <p>还不是Picshare的用户吗？<%= link_to "注册", new_registration_path(resource_info) %>成为我们的成员！ <br />
		忘记密码了？没关系，点击<%= link_to "找回密码", new_password_path(resource_info) %>。
	</p>
