<% content_for :login do%>
	<style type="text/css">
		body{
			background-image:url(<%= asset_path "login.jpg"%>)
	}
	</style>
<%end%>

<div class="login_form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>登 录</h2>
			</div>
			<div class="modal-body">
				<div class="ui form segment">
				<%= form_for(resource, as: resource_info, url: session_path(resource_info)) do |f| %>
					<div class="field">
	  				<label >邮 箱</label>
						<div class="ui left labeled icon input">	
							<%= f.email_field :email,:placeholder=>"在这里输入邮箱", autofocus: true %>
							<i class="mail icon"></i>
						</div>
					</div>
					<div class="field">
			  		<label >密 码</label>
						<div class="ui left labeled icon input">
							<%= f.password_field :password, :placeholder=>"在这里输入你的密码",autocomplete: "off" %>
							<i class="lock icon"></i>
						</div>
					</div>
					<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <label>记住我</label></div>
					<% end -%>
					<button type="submit" class="ui button blue " >登录</button>
					<% end %>
				</div>
  <p>还不是Picshare的用户吗？<%= link_to "注册",root_path%>成为我们的成员！ <br />
		忘记密码了？没关系，点击<%= link_to "找回密码", new_password_path(resource_info) %>。
	</p>
			</div>
		</div>
	</div>
</div>
