<%content_for :head do%>
	<style type="text/css">
		body{
			background-image:url(<%= asset_path "photo_background.png"%>);
		}
		
	</style>
<%end%>
<div class="show_photo container">
	<div class="row">
		<div class="col-md-6">
			<div class="info_display">
				<%= link_to image_tag(@user.avatar.small.url), edit_settings_path,:class=>"avatar"%>
				<h2>
					<%= link_to @user.username, user_home_path(@user.username) %>
					<% if user_signed_in? %>
						<%= link_to edit_settings_path, :class => "ui basic button mini" do %>
							<i class="pencil icon"></i>编辑个人资料
						<% end %>
					<%end%>
				</h2>
				<ul class="detail">
					<% unless @user.title.blank?%>
					<li>
					<a class ="brief">
							<i class="info letter icon"></i><%= @user.title %>
					</a>
					</li>
					<%end %>
				</ul>
				<p><%=@user.created_at.strftime("%Y年%m月%d日") %>加入  当前共上传了 <strong><%= @user.photos.count%></strong> 照片</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="social_data">
				<ul class="detail">
					<% unless @user.city.blank?%>
					<li>
					<%= link_to  :class => "locality",:title=>"城市" do %>
							<i class="map marker icon"></i><%= @user.city %>
						<% end %>
					</li>
					<%end %>
					<% unless @user.email.blank?%>
					<li>
					<%= link_to "#", :class => "email",:title=>"电子邮件" do %>
							<i class="mail icon"></i><%= @user.email %>
						<% end %>
					</li>
					<%end %>
					<% unless @user.bio.blank?%>
					<li>
					<%= link_to "http://weibo.com/#{@user.bio}", :class => "weibo" ,:target=>"_blank",:title=>"微博"  do %>
							<i class="weibo icon"></i><%= @user.bio %>
						<% end %>
					</li>
					<%end %>
					<% unless @user.twitter.blank?%>
					<li>
					<%= link_to "https://twitter.com/#{@user.twitter}", :class => "twitter" ,:title=>"Twitter" do %>
							<i class="twitter icon"></i><%= @user.twitter %>
						<% end %>
					</li>
					<%end %>
					<% unless @user.facebook.blank?%>
					<li>
					<%= link_to "https://facebook.com/#{@user.facebook}", :class => "facebook" ,:title=>"Facebook" do %>
							<i class="facebook icon"></i><%= @user.facebook %>
						<% end %>
					</li>
					<%end %>
					<% unless @user.weixin.blank?%>
					<li>
					<%= link_to "#", :class => "weixin" ,:title=>"微信" do %>
							<i class="weixin icon"></i><%= @user.weixin %>
						<% end %>
					</li>
					<%end %>
				</ul>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="ui pointing menu">
      <%= link_to recent_users_path, :class=>"#{'active' if action_name == 'recent' } item" do%> 
				<i class="home icon"></i> 最近上传
			<%end%>
      <%= link_to user_home_path, :class=>"#{'active' if action_name == 'show' } item" do%> 
				<i class="photo icon"></i> 所有照片 
			<%end%>
		</div>
	</div>
</div>
