<div class = " photo-edit  container">
	<div class="row">
		<div class="col-lg-9">
			<div class="edit-image">
				<%= image_tag @photo.image.url%>
			</div>
		</div>
		<div class="col-lg-3">
		<%= form_for @photo do |f|%>
			<div class="ui form  segment">
				<div class="field">
					<label>姓名</label>
					<%= f.text_field :title%>
				</div>
				<div class="field">
					<label>城市</label>
					<%= f.text_field :tag%>
				</div>
				<div class="field">
					<label>性别</label>
					<div class="ui selection dropdown">
						<%= f.hidden_field :catigory_id %>
						<div class="default text">性别</div>
							<i class="dropdown icon"></i>
						<div class="menu ui transition hidden">
							<div class="item" data-value="male"><i class="male icon"></i>男性</div>
							<div class="item" data-value="female"><i class="female icon"></i>女性</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>个人主页</label>
					<%= f.text_field :is_public%>
				</div>
				<label>个人简介</label>
				<%= f.text_area :description,:as=>:textarea%>


			</div>
		</div>
	<%end%>
	</div>
	
</div>
