			<div class="pswrapper container">
				<div class="row">
					<div class="large-image col-lg-9 ">
						<%=image_tag @photo.image.large.url%>
					</div>
					<div class="image-info col-lg-3">
						<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<div class="uploaderhead">
								<%=image_tag @photo.user.avatar.smallist.url, :class=>"avatar"%>
							</div>
							<div class="photouploadername">
								<%=link_to @photo.user.name,user_home_path(@photo.user), :class=>"name"%>
							</div>
							<div class="uploadertime">
								<p>上传时间：<%= @photo.created_at.strftime("%Y年%m月%d日")%></p>
								
							</div>
							<div class="isedit">
								<% if @photo.created_at == @photo.updated_at%>
									<p>未编辑</p>
								<% else %>
									<p>已编辑</p>
								<%end%>
							</div>
							<%=link_to '下一张' ,photo_path(id: @photo.id.next)%>
						</div>
						<div class="modal-body">
							<div class="uploadertitle">
							  <%=@photo.title unless @photo.title.blank? %>
					 	  </div>
							<div class="uploaderdescription">
								<%=@photo.description unless @photo.description.blank? %>
							</div>

						</div>
						</div>

				
					</div>
				</div>
			</div>

